.Header-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 100px;

}

.Header-logo-container {
    display: flex;
    justify-content: center;
    width: 80px;
    align-items: center;
}
.Header-logo-container img {
    height: 60px;
    object-fit: cover;
}

.Header-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header-button-light {
    width: 148px;
    height: 45px;

    border: 2px solid #6809e1;
    border-radius: 60px;
    color: #6809e1;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
}
.Header-button-light:hover{
    cursor: pointer;
    color: white;
    background-color: #6809e1;
}

.Header-button-dark {
    width: 148px;
    height: 45px;

    border: 2px solid white;
    border-radius: 60px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
}
.Header-button-dark:hover{
    cursor: pointer;
    color: #6809e1;
    background-color: white;
}