.App-container-light{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 6px solid #6809E1;
    transition: background-color 0.5s;
}
.App-container-dark{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 6px solid #6809E1;
    transition: all 0.5s;

    background-color: #373737;
}
